.beige {
  background-color: beige;
}

.diagonal-bottom {
  background-image: -webkit-linear-gradient(-60deg, orange 50%, black 50%);
}

.diagonal-top {
  background-image: -webkit-linear-gradient(60deg, orange 50%, black 50%);
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.grid-item {
  font-family: sans-serif;
  font-weight: bold;
  height: 24em;
  z-index: 0;
}

.text-overlay {
  z-index: 1;
}
